.container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.list {
}

.item {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  transition: background 0.2s;
}

.item:hover {
  background: #eee;
}

.current {
  background: #0277bd;
  color: white;
  font-weight: bold;
  border-color: #0277bd;
}
